
# Author    KMS - Martin Dubois, P. Eng.
# Copyright (C) 2023
# License   http://www.apache.org/licenses/LICENSE-2.0
# Product   KMS-Samples
# File      .gitignore

Import/

# ===== Visual Studio =======================================================

/.vs/

x64/

Release/
Release_Static/

*.vcxproj.user

# ===== Visual Studio Code ==================================================

/.vscode/
