
# Author    KMS - Martin Dubois, P. Eng.
# Copyright (C) 2023
# License   http://www.apache.org/licenses/LICENSE-2.0
# Product   KMS-Samples
# File      Firmware/STM32/.gitignore

# ===== STM32CubeIDE ========================================================

*.d
*.o
*.su

Debug/
