
# Author    KMS - Martin Dubois, P. Eng.
# Copyright (C) 2023 KMS
# License   http://www.apache.org/licenses/LICENSE-2.0
# Product   KMS-Samples
# File      Firmware/STM32/H7/Me/.gitignore

# ===== STM32Cube... ========================================================

*.launch

.settings/

/CM4/Core/Inc/main.h
/CM4/Core/Inc/stm32h7xx_hal_conf.h
/CM4/Core/Inc/stm32h7xx_it.h
/CM4/Core/Src/
/CM4/TouchGFX/

/CM7/Core/Inc/FreeRTOSConfig.h
/CM7/Core/Inc/main.h
/CM7/Core/Inc/RTE_Components.h
/CM7/Core/Inc/stm32h7xx_hal_conf.h
/CM7/Core/Src/freertos.c
/CM7/Core/Src/main.c
/CM7/Core/Src/stm32h7xx_hal_msp.c
/CM7/Core/Src/stm32h7xx_hal_timebase_tim.c
/CM7/Core/Src/stm32h7xx_it.c
/CM7/Middlewares/
/CM7/TouchGFX/App/
/CM7/TouchGFX/assets/fonts/
/CM7/TouchGFX/assets/texts/texts.xsd
/CM7/TouchGFX/config/
/CM7/TouchGFX/generated/
/CM7/TouchGFX/gui/
/CM7/TouchGFX/Me_backup.touchgfx
/CM7/TouchGFX/simulator/
/CM7/TouchGFX/target/generated/
/CM7/TouchGFX/target/STM32TouchController.*
/CM7/TouchGFX/target/TouchGFXGPIO.cpp
/CM7/TouchGFX/target/TouchGFXHAL.*

/Common/
/Config/
/Drivers/CMSIS/
/Drivers/STM32H7xx_HAL_Driver/
/EWARM/
/gcc/
/MDK-ARM/
/Middlewares/

/backup_STM32H747I-DISCO.ioc
/changelog.txt
/readme.md
